extends layout
include header

block content
  h1 Login page
    form(method='POST' action='/login')
    fieldset
        label(for='username') Username
        input#username(type='text' name='username')
    fieldset
        label(for='password') Password
        //makes password hashed 
        input#password(type='password' name='password')
    input(type='submit' value='Login')

  p Welcome to #{title}

  include footer